

    h1 {
        color: blue;
        background: red;
    }

    p {
        color: aquamarine;
        font-size: 30px;
    }

    button {
        background: greenyellow;
        border-color: blue;


    }









