

h1{
    color: blue;
    font-size: 40;
    font-weight: 40;
    font-family: ;
    font-style: italic;
    line-height: 100px;

}
p{
    color: red;
    font-size: 66;
    font-weight: 80;
    font-family: ;
    font-style: italic;
}





